@import '../../../assets/styles/styles.scss';

.info-section {
    @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
    }
}

.info-heading {
    font-size: 1.3rem;
    font-weight: bold;
}

.info-header {
    @include media-breakpoint-up(md) {
        border-right: 1px solid;
        text-align: right;
        padding-bottom: 1rem;
    }
}

.info-body {
    font-style: italic;
}