.printable-document {
    background-color: $white;
    width: 21cm;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin-top: 50px;
    
    @media screen {
        
        border: 1px solid $black;
    }

    @media print {
        width: 100%;
    }
}

.printable-document-responsive {
    @media screen {    
        @include media-breakpoint-down(sm) {
            width: 100%;
            overflow: auto;
        }
    }
}

.printable-document-content {
    padding: 20px;
}

.printable-document-footer {
    border-top: 1px solid $black;
    text-align: center;
    font-style: italic;
    line-height: 100%;
    width: 100%;

    @media print {
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}