$body-bg: #efefef;

// Override fonts
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$theme-colors: (
    "primary": #A2C614,
    "primary-dark": rgb(136, 165, 19),
    "secondary": #687b86,
    "dark-overlay": #292d29,
    "title": #666666,
    "border-light": #e6e6e6,
    "border-ultra-light": #f1f1f1,
);

$container-shadow: 2px 2px 5px #999999;