.homepage-image {
    position: relative;

    @include media-breakpoint-down(sm) {
        margin-top: $grid-gutter-width;
    }

    .img-credit {
        position: absolute;
        bottom: 10px;
        right: 30px;
        font-size: x-small;
    }
}