@import '../../assets/styles/styles.scss';

.image {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.img-credit {
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: x-small;
}